* {/*Selector Universal*/
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'BIZ UDPMincho', serif;
}

/*Sección de HEADER*/
.header{ 
    position: fixed;
    width: 1349px;
    height: 70px;
    justify-content: space-between;

    background-image: linear-gradient(#AD8B73, #CEAB93, #E3CAA5); 
    display: flex;
    flex-direction: row;
    padding: top;
    justify-content: space-between;
    align-items: center;

   
    top: 0;

}

.header__logo{    
    height: 60px;
    width: 60px;
    display: inline;
    margin-bottom: 10px;
}

.header__name{
    height: 50px;
    width: 150px;
}

ul{
    list-style: none;
}

.header__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    
}

/*Cierra Sección de HEADER*/

/*Sección de BODY*/

main{
    background-color: #FFFBE9;
    width: 1349px;
}

.banner, .h2{
    padding-top: 90px;
    padding-bottom: 0px;
    margin-left: 0px;
    font-style: italic;
}

.banner{
    padding-top: 20px;
    padding-left: 350px;
    margin-bottom: 50px;
}



.h4{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0px;
}


.card-banner{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 24rem;
    align-content: center;
    margin-left: 10px;
}

.card-body{
    background-color: rgba(227,202,165,0.5);

}

.card-title{
    text-align: center;
    text-decoration: underline;
}

.card-subtitle{
    text-align: center;
}
.card-text{
    margin-left: -30px;
}

.card-coffee{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 26rem;
}

.submit-coffee{
    width: 83px;
    background-color: #CEAB93;
    margin-left: 85px;
}

.card-text-coffee{
    text-align: center;
    margin-left: -40px;
}

.btn{
    text-align: center;
}

.submit-index{  
    padding-bottom: 50px;
    padding-top: 50px;

}
.cafeteria{
    display: inline-flex;
    flex-direction: row;
    margin-left: 15px;
    

}

.cafeteria__cafe{
    height: 40px;
    width: 40px;
}
.libreria{
    display: inline-flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 20px;
}

.libreria__libro{
    height: 40px;
    width: 40px;
}
.coffee{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 280px;
    width: 230px;
    margin-left: 3%;
    margin-right: 30%; 
}
.texts-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    margin-left: 4%;
    justify-content: space-around;
}

.books{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 280px;
    width: 230px;
    margin-left: 15%;
    margin-right: 30%;
}

.texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    margin-left: 70px;
    justify-content: space-evenly;
}

.precios-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
    margin-left: 150px;
    justify-content: space-evenly;

    margin-block: 10px;
}

.precios-two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    justify-content: space-between;

    margin-block: 10px;
}

p{
    padding-left: 30px;
    text-decoration:solid; 
}
.precios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 40px;
    margin-left: 50px;

    margin-block: 0px;
    
}

/*Sección de Libreria*/

.texts-books{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    margin-left: 70px;
    justify-content: space-evenly;
}

.texts-books-one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    margin-left: 70px;
    justify-content: space-evenly;
}

.precios-books{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 40px;
    margin-left: 50px;    
    padding-left: 20px;
}



.ver-mas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    padding-bottom: 150px;
}

/*Cierra Sección de BODY*/

/* Sección de FOOTER*/

.footer{
    width: 1349px;
    height: auto;

    background-color: #CEAB93; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: top;
}

.footer__name{
    margin-top: -24px;
    margin-left: 10px;

    height: 50px;
    width: 150px;
}
.logo{    
    height: 60px;
    width: 60px;
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 10px;
}

.h3{
    background-color: #CEAB93;
    text-decoration: underline;
    font-size: 30px;
    padding-left: 10px;
}


.item-one{
    padding-left: 20px;
}

.item-two{
    padding-left: 20px;
}

dt{
    list-style-type: none;
}
.footer__nav{
    color:black;
    text-decoration: none
}

.col{
    background-color: #CEAB93;
}

.copyright{
    background-color: #CEAB93; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

/*Cierra Sección de FOOTER*/


/*Sección de Preguntas Frecuentes*/

.preguntas-frecuentes{
    padding-top: 110px;
    padding-bottom:60px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

.caja-de-preguntas{
    padding: 10px;
    background-color: rgb(206,171,147,0.3);
    
    width: auto;
    height: 190px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin: 50px;

    text-align: justify;
    font-size: 21px;
    
}

.caja-de-preguntas-two{
    padding-top: 15px;
    background-color: rgb(206,171,147,0.3);
    
    width: auto;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin: 50px;

    font-size: 22px;
    
}
.caja-de-preguntas-three{
    padding-top: 5px;
    background-color: rgb(206,171,147,0.3);
    
    width: auto;
    height: 170px;
    margin-top: 5px;
    margin: 50px;


    font-size: 22px;
    
}

.buttom{    
    margin-left: 620px;
    margin-top: 50px;
    width: 78px;
    background-color: #CEAB93;
}
.submit{
    width: 78px;
    background-color: #CEAB93;
    margin-left: 150px;
}



.submit-c{
    width: 83px;
    background-color: #CEAB93;
    margin-left: 150px;
}

.submit-i{
    width: 115px;
    background-color: #CEAB93;
    margin-left: 130px;
    align-items: flex-end;
}

.submit-a{
    width: 78px;
    background-color: #CEAB93;
    margin-left: 620px;
}

/*Sección de Mi Cuenta*/

#mi-cuenta{
    padding-top: 130px;
    padding-bottom: 50px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

.formulario{
    border: solid 5px rgb(206,171,147);
    background-color: rgb(206,171,147,0.3);
    
    width: 580px;
    height: 500px;


    margin-left: 380px;
}

.Nombre{
    padding-top: 60px;
    padding-bottom: 50px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.Apellido{
    padding-top: 30px;
    padding-bottom: 50px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.Correo{
    padding-top: 30px;
    padding-bottom: 50px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.Password{
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

.buttom-i{
    width: 115px;
    background-color: #CEAB93;
    margin-top: 50px;
    margin-left: 620px;
    align-items: flex-end;

}

#registrar{
    text-align:  center;
    margin-top: 40px;
    padding-bottom: 40px;
    width: auto;
    height: auto;

    font-size: 21px;

}
/*Media para dispositivos móviles*/


/*Media para dispositivos tablets*/
@media screen and (max-width:576px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: top;
        width: 576px;
    }
    .header__logo{    
        padding-top: 10px;
        height: 43px;
        width: 43px;
        display: inline;
        margin-bottom: 10px;
    }
    
    .header__name{
        height: 37px;
        width: 140px;
        margin-bottom: 5px;
    }
    
    .nav__item{
        display: none;
    }
    
    .--Buscar{
        display: none;
        
    }
    
    body{
        background-color: #FFFBE9;
        height: fit-content;
    }


    .banner{
        padding-top: 20px;
        padding-left: 30px;
        margin-bottom: 150px;
        height: 180px;
        width: 300px;
    }
    
    h2, i {
        font-size: 20px;
        margin-bottom: 10px;
    }  

    .evermore{
        margin-left: -1030px;
    }
    .card-banner{
        
        margin-top: 10px;
        margin-bottom: 20px;
        width: 305px;
    }
    
    
    
    .card-title{
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
    }

    .card-text{
        font-size: 15px;

    }

    .submit-c{
        margin-left: 35%;
    }

    .submit-i{
        margin-left: 30%;

    }
    
    .submit{
        padding-top: 0px; 
        margin-left: 35%; 
        padding-bottom: 0px; 
        width: 77px;
    }


    .submit-a{
        margin-left: 20px;
        margin-bottom: 10px;
        
    }
    .banner__imagen{
        display: block;        
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        opacity: 1;
        margin-left: -2%;
        align-content: center;

    }
    .card-coffee{
        display: flex;
        flex-direction: column;
    }

    .texts{
       margin-top: -615px;
       display: grid;
       grid-template-columns: 50%;
       grid-template-rows: 50px;
       row-gap: 350px;

    } 

    .texts-books{
        margin-top: -615px;

        display: grid;
        grid-template-columns: 50%;
        grid-template-rows:50px;
        row-gap: 350px;
 
        margin-left: 7%;
        margin-right: 15%;
    } 

    .ver-mas{
        margin-right: 35%;
        margin-left: 38%;
    }

    .coffee{
        margin-top: 600px;
       
       display: grid;
       grid-template-columns: 50%;
       row-gap: 40px;

       margin-left: 5%;
       margin-right: 2%;
       align-items: justify;
    } 

    .submit{    
        padding-top: 60px;
        margin-left: 30%; 
       
        padding-bottom: 120px;
        width: 130px;
    }

    .preguntas{
        padding-bottom: 50px;
        margin-left: 0px;
        margin-right: 10px;
        font-size: 15px;
    }
    .display-6{
        font-size: 18px;
        margin-left: -1000px;
    }

    .fs-4{
        padding-left: 5px;
        font-size: 15px;
    }
    .mb-auto p-2 bd-highlight{
        padding-left: -75px;

    }
    .p-2 bd-highlight{
        padding-left: -75px;

    }
    .caja-de-preguntas{
        padding-bottom: 10px;
        width: 310px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: -30px;
        
        
        font-size: 15px;
        
    }
    
    .caja-de-preguntas-two{
        padding-bottom: 10px;
        width: 310px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: -30px;
        
        
        font-size: 15px;
        
    }
    .caja-de-preguntas-three{
        padding-bottom: 10px;
        width: 310px;
        margin-top: 10px;
        margin-bottom: 50px;
        margin-left: -30px;
        
        
        font-size: 15px;
    }

    .buttom{
        margin-left: 130px;
    }
    
    .formulario{
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .iniciar-sesion{
        margin-left: 35%;
        margin-right: 30%;

    }

    #mi-cuenta{
        padding-top: 80px;
        font-size: 21px;

    }

    .footer{
        background-color: #CEAB93; 
        width: auto;
        height: fit-content;
    }

    .col{
        background-color: #CEAB93;
    }
    
    .footer__name{
        margin-top: -12px;
        margin-left: 10px;
    
        height: 25px;
        width: 117px;
    }
    .logo{    
        height: 40px;
        width: 40px;
        margin-top: -25px;
        
        margin-right: 30px;
    }
    
    .h3{
        background-color: #CEAB93;
        text-decoration: underline;
        font-size: 30px;
        padding-left: 50px;
    }
    
    
    .item-one{
        padding-left: 90px;
    }
    
    .item-two{
        padding-left: 90px;
    }
    
    .items{
        justify-content: center;
    }

    
}

@media screen and (min-width: 601px) and (max-width:1024px ) {
    .header{
        height: 60px;
    
        background-image: linear-gradient(#AD8B73, #CEAB93, #E3CAA5); 
        display: flex;
        flex-direction: row;
        padding: top;
        align-items: center;
    
        position: fixed;
        
    
    }
    .header__logo{    
        padding-top: 10px;
        height: 50px;
        width: 50px;
        display: inline;
        margin-bottom: 5px;
    }
    
    .header__name{
        height: 40px;
        width: 125px;
    }
    .header__nav{
        display: flex;
        flex-direction: row;
        margin-right: 40%;      
    }

    .nav__item{
        font-size: 15px;
    }

    .header__icon, fas fa-bars{
        display: none;
    }


    

    .banner, h1{
        align-items:center;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 10%;
        font-style: italic;
        font-size: 25px;
    }
    
    .imagen{
        padding-right: 10px;

        width: 300px;
        height: 150px;
    }

    h2 {
        font-size:27px;
        margin-bottom: 10px;
        text-align: center;
        padding-left: 100px;
    }  

    body{
        background-color: #FFFBE9;
        height: fit-content;
    }

    
    .div__flex{
        background-color: rgb(206,171,147,0.3);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 150px 150px;

        
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-bottom: 0px;
        


        border-top: solid 1px #CEAB93;
        border-right: solid 1px #CEAB93;
        border-bottom: solid 1px #CEAB93;
        border-left: solid 1px #CEAB93;
    }

    .flex__name{
        text-align: center;
        font-size: 26px;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 10px;

        border-radius: 10%;
    }
    
    .flex__texto{
        text-align:justify; 
        font-family: 'BIZ UDPMincho', serif;
        padding-left: 10px;
        padding-right: 10px;
        


        width: auto;
        font-size: 20px;
        margin-right: 10px;
        margin-left: 15px;
        margin-bottom: 0%;
    }

    .flex__submit-one{
        margin-right: 10%;
        margin-left: 43%;

       

        background-color: #CEAB93;
        height: 35px;
        margin-top: 15px;
        width: 130px;

    }

    .flex__submit-two{
        margin-right: 50%;
        margin-left: 45%;

        background-color: #CEAB93;
        height: 25px;
        margin-top: 15px;
        width: 100px;
    }
    
    .flex__submit-three{
        margin-right: 50%;
        margin-left: 45%;
    
        background-color: #CEAB93;
        height: 25px;
        margin-top: 15px;
        width: 100px;
    }

    .books{
        margin-top: 100px;
       
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows:50px 50px;
       column-gap: 150px;
       row-gap: 350px;

       margin-left: 10%;
    } 

    .books__hijo{
        display: flex;
        justify-content: center;
        align-items: auto;

    }

    
    .img_book{
        height: 380px;
        width: 320px;
    }

    .texts{
       
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows:50px 50px;
       column-gap: -150px;
       row-gap: 350px;

       margin-left: 7%;
       margin-right: 15%;
    } 

    .texts-books{
       
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:50px 50px;
        column-gap: -150px;
        row-gap: 350px;
 
        margin-left: 7%;
        margin-right: 15%;
    } 

    .precios{
        display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows:50px 50px;
       column-gap: -150px;
       row-gap: 350px;

       margin-left: 7%;
       margin-right: 15%;
    }

    .coffee{
        margin-top: 100px;
       
       display: grid;
       grid-template-columns: 50% 50%;
       grid-template-rows:50px 50px;
       column-gap: 200px;
       row-gap: 350px;

       margin-left: 10%;
    } 
    .img_coffee{
        height: 350px;
        width: 300px;
    }

    .img_coffee-1{
        height: 350px;
        width: 300px;
    }
    .img_coffee_2{
        height: 350px;
        width: 250px;
    }
    .texts-two{
       font-size: 20px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows:50px 50px;
        column-gap: -150px;
        row-gap: 350px;
 
        margin-left: 7%;
        margin-right: 15%;
    } 

    

    .preguntas-frecuentes{
        font-size: 25px;

    }
    .preguntas{
        padding-left: 0px;
        padding-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;


    }

    .caja-de-preguntas{
        padding-top: 10px;
        padding-bottom: 10px;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 50px;
        
        
        font-size: 19px;
        
    }
    
    .caja-de-preguntas-two{
        padding-top: 10px;
        padding-bottom: 10px;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 50px;
        
        font-size: 19px;
        
    }
    .caja-de-preguntas-three{
        padding-top: 10px;
        padding-bottom: 10px;
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 50px;
        
        font-size: 19px;
        
    }
    
    .submit{    
        padding-top: 50px;
        margin-left: 40%; 
       
        padding-bottom: 120px;
        width: 130px;
    }



    .formulario{
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
    }

    .iniciar-sesion{
        margin-left: 42%;
        margin-right: 30%;

    }

    #mi-cuenta{
        padding-top: 100px;
        font-size: 21px;

    }

    .footer{
        background-color: #CEAB93; 
        width: auto;
        height: 100px;
    }
    
    .footer__name{
        margin-top: -12px;
        margin-left: 10px;
    
        height: 25px;
        width: 117px;
    }
    .logo{    
        height: 40px;
        width: 40px;
        margin-top: -25px;
        
        margin-right: 30px;
    }
    
    .h3{
        margin-top: -60px;
        padding-left: 10%;
        text-decoration: underline;
        font-size: 25px;
    }
    
    .h3__one{
        margin-top: -160px;
        padding-right: 30%;
        font-size: 25px;
    
    }
    
    .item-one{
    
        padding-left: 15%;
        
        padding-top: 15px;
        
    }
    
    .item-two{
    
        background-color: #CEAB93; 
        padding-left: 61%;
        
        padding-top: 15px;
    
    }
}

       