.footer{
    background-color: #CEAB93;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: top;
    @include sizes(100%, auto);
    .footer__name {
        margin-top: -2%;
        margin-left: 10px;
        height: 50px;
        width: 150px; }
    .logo {
        height: 60px;
        width: 60px;
        margin-top: -3%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-right: 10px; }
}

.col{
    background-color: #CEAB93;
    width: 100%;
    .h3{
        background-color: #CEAB93;
        text-decoration: underline;
        font-size: 30px;
        margin-left: 10%;}
    .item-one{
        background-color: #CEAB93;
        font-size: 19px;
        text-align: justify; 
        margin-left: 5%;
        
                    
        .footer__nav{
            @include footer__nav;
            .bi-envelope-fill{
                color: white;
            }
            .bi bi-twitter{
                color: white;
            }
            .bi bi-instagram{
                color: white;
            }
            .bi bi-whatsapp{
                color: white;
            }
        }
    }
    .item-two{
        font-size: 19px;
        margin-left: 5%;
                
        .footer__nav{
            @include footer__nav;
        }
    }
}  
.copyright{
    background-color: #CEAB93;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

@mixin footer__nav {
    color:black;
    text-decoration: none;
}
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
} 

$redes:(
    envelope-fill: #FFFBE9,
    twitter:#FFFBE9,
    instagram:#FFFBE9,
    whatsapp:#FFFBE9
);
@each $redes, $color in $redes {
    .bi-#{$redes}{
        background-color: $color;
    }
}



