.footer{
    background-color: #CEAB93; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include sizes(1349px, auto);
    .footer__name{
        margin-top: -24px;
        margin-left: 10px;
        
        height: 50px;
        width: 150px;
        background-color: #CEAB93; 

    }
    .logo{    
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-right: 10px;
        background-color: #CEAB93; 

    }
}

.col{
    background-color: #CEAB93;

    .h3{
        background-color: #CEAB93;
        text-decoration: underline;
        font-size: 30px;
        padding-left: 20px;
    }
    .item-one{
        padding-left: 50px;
        background-color: #CEAB93;
        
                    
        .footer__nav{
            @include footer__nav;


            .bi-envelope-fill{
                color: white;
            }
            .bi bi-twitter{
                color: white;
            }
            .bi bi-instagram{
                color: white;
            }
            .bi bi-whatsapp{
                color: white;
            }
        }
    }
    .item-two{
        padding-left: 50px;
                
        .footer__nav{
            @include footer__nav;

        }
    }
}  
.copyright{
    background-color: #CEAB93; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

@mixin footer__nav {
    color:black;
    text-decoration: none;
}
@mixin sizes($width, $height) {
    width: $width;
    height: $height;
    background-color: #CEAB93;
} 

$redes:(
    envelope-fill: #FFFBE9,
    twitter:#FFFBE9,
    instagram:#FFFBE9,
    whatsapp:#FFFBE9
);
@each $redes, $color in $redes {
    .bi-#{$redes}{
        background-color: $color;
    }
}



