.header{
    justify-content: space-between;
    display: inline-flex;
    background-image: linear-gradient(#AD8B73, #CEAB93, #E3CAA5);
    position:fixed;
    @include sizes(100%, 70px);
    div{
        a{
            
            .header__logo{    
                height: 60px;
                width: 60px;
                display: inline;
                margin-bottom: 10px;
            }
            .header__name{
                height: 50px;
                width: 150px;
            }
        
        }
        
    }
    
    nav{
        div{
            div{
                #offcanvasNavbar{
                    padding-left: 50px;
                    font-weight: bolder;

                    ul{
                        list-style: none;}
                }
                
                  
            }
        }
    }

}
#offcanvasNavbar{
    font-family: 'BIZ UDPMincho', serif;
    font-size: larger;
    margin-top: 5px;
    padding-right: 10px
}