.preguntas-frecuentes{
  padding-top: 110px;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}
.caja-de-preguntas{
  margin-top: 10%;
  padding-bottom: 5%;
  background-color: rgba(227, 202, 165, 0.5);
  text-align: justify;
  font-size: 21px;
  margin-left: 10%;
  @include sizes (80%, 100%);
    
}