* {/*Selector Universal*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BIZ UDPMincho', serif;
}

@import "header";
@import "index";
    @mixin sizes($width, $height) {
        width: $width;
        height: $height;
    }
    @include sizes(1349px);

@import "mi-cuenta";
@import "preguntas-frecuentes";
@import "footer";
@import "media-queries";
@import "../node_modules/bootstrap/scss/functions";
